.dropdown {
  user-select: none;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  max-height: 25rem;
  min-width: 10vw;
  overflow: auto;
  position: absolute;
  z-index: 1;
  background: var(--color-surface-light);
  color: var(--color-surface-content);
  border-radius: var(--border-radius-default);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.dropdown-content:not(.menu) {
  /* padding: var(--space-2, 0.5rem); */
}

.dropdown-start .dropdown-content {
  left: 0;
}

.drodpown-center .dropdown-content {
  left: 50%;
  transform: translateX(-50%);
}

.dropdown-end .dropdown-content {
  right: 0;
}
.dropdown-left .dropdown-content {
  top: 0;
  right: 100%;
  bottom: auto;
  transform-origin: right;
}
.dropdown-right .dropdown-content {
  left: 100%;
  top: 0;
  bottom: auto;
  transform-origin: left;
}
.dropdown-bottom .dropdown-content {
  bottom: auto;
  top: 100%;
  transform-origin: top;
}
.dropdown-top .dropdown-content {
  bottom: 100%;
  top: auto;
  transform-origin: bottom;
}
