.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-2) var(--space-3);
  min-height: 4rem;
  width: 100%;
  background-color: var(--color-surface-dark);
}

.navlist {
  max-width: calc(var(--container-max-width) + 2 * var(--container-padding-x));
  display: flex;
  flex-direction: row;
}
.nav-start {
  display: flex;
  width: 50%;
  gap: var(--space-4);
  justify-content: flex-start;
}

.nav-center {
  display: flex;
  gap: var(--space-4);
  flex-shrink: 0;
}

.nav-end {
  display: flex;
  gap: var(--space-4);
  width: 50%;
  justify-content: flex-end;
}

.navlist-branding {
  font-size: var(--font-size-big);
  font-weight: var(--font-weight-semibold);
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
  color: var(--color-surface-content);
}
