@import url("_variables.css");

/* Global */
@import url("file.css");
@import url("fonts.css");
@import url("icons.css");
@import url("reset.css");
@import url("themes.css");
@import url("snippets.css");
@import url("typography.css");

/* Components */
@import url("./classes/alert.css");
@import url("./classes/badge.css");
@import url("./classes/buttons.css");
@import url("./classes/card.css");
@import url("./classes/drawer.css");
@import url("./classes/dropdown.css");
@import url("./classes/hero.css");
@import url("./classes/menu.css");
@import url("./classes/modal.css");
@import url("./classes/collapse.css");
@import url("./classes/pagination.css");
@import url("./classes/progress.css");
@import url("./classes/forms.css");
@import url("./classes/header.css");
@import url("./classes/table.css");
@import url("./classes/tabs.css");
@import url("./classes/tags.css");

/* Layouts */
@import url("./componentes/layouts.css");
@import url("./components/view-test.css");

[aria-disabled="true"] {
  pointer-events: none;
  cursor: not-allowed;
}

html {
  /*
  This sets the base font size to 10px, which makes it easier to work with rems.
  The important thing to understand is that the html tag font-size need not be the same as the font-size on the body tag. 
  */
  /* font-size: 62.5%; */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: var(--color-surface-content);
  background-color: var(--color-surface-light);
  min-height: 100%;
  min-width: 100%;
  font-size: var(--font-size-regular);
  line-height: normal;
  overflow: auto;
  scroll-behavior: smooth;
  font-family: var(--ff-family);
  font-weight: var(--font-weight-regular);
}

.main-app {
  display: flex;
  flex-direction: column;
  padding-top: calc(var(--header-height));
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.glass {
  -webkit-backdrop-filter: blur(1.25rem);
  backdrop-filter: blur(1.25rem);
  background: transparent !important;
  background-image: linear-gradient(
    135deg,
    hsla(var(--color-surface-light), 0.35) 0%,
    hsla(var(--color-surface-medium), 0.35) 50%,
    hsla(var(--color-surface-dark), 0.35) 100%
  );
  border-bottom: 1px solid var(--color-surface-medium);
}
