@import url("_variables.css");
@import url("alert.css");
@import url("buttons.css");
@import url("card.css");
@import url("collapse.css");
@import url("dropdown.css");
@import url("file.css");
@import url("fonts.css");
@import url("forms.css");
@import url("header.css");
@import url("layouts.css");
@import url("modal.css");
@import url("reset.css");
@import url("table.css");
@import url("tabs.css");
@import url("tags.css");
@import url("themes.css");
@import url("typography.css");
@import url("pagination.css");

::-moz-selection {
  background-color: hsl(var(--base-content));
  color: hsl(var(--base));
}

::selection {
  background-color: hsl(var(--base-content));
  color: hsl(var(--base));
}

/* style all placeholders */
::-webkit-input-placeholder {
  color: hsl(var(--error)) !important;
}

:-moz-placeholder {
  color: hsl(var(--error)) !important;
}

:-ms-input-placeholder {
  color: hsl(var(--error)) !important;
}

*:disabled,
*[aria-disabled="true"] {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.glass {
  /* border: none; */
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: transparent;
  background-image: linear-gradient(
    135deg,
    hsl(var(--base-100) / var(--glass-opacity)) 0%,
    hsl(var(--base) / var(--glass-opacity)) 100%
  );
  box-shadow: 0 0 0 1px var(--base-100) inset, 0 0 0 2px #0000000d;
  text-shadow: 0 1px var(--base-100);
}

html {
  /*
  This sets the base font size to 10px, which makes it easier to work with rems.
  The important thing to understand is that the html tag font-size need not be the same as the font-size on the body tag. 
  */
  /* font-size: 62.5%; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: hsl(var(--base-content));
  background-color: hsl(var(--base) / var(--background-opacity, 1));
  font-size: var(--fs-regular);
  line-height: normal;
  overflow: auto;
  scroll-behavior: smooth;
  font-family: var(--ff-family);
  font-weight: var(--fw-regular);
}

.app {
  padding-top: calc(var(--header-height) + 1rem);
}

.scrollable-content {
  height: 100%;
  overflow-y: auto;
}

/* Symbols */

.chevron {
  transition: all 0.125s ease-in-out;
}

.rotated-180deg {
  transform: rotate(-180deg);
}

.no-rotated {
  transform: rotate(-0deg);
}

/* Icons */
.icon-16 {
  width: 16px;
  height: 16px;
}
.icon-20 {
  width: 20px;
  height: 20px;
}

.icon-24 {
  width: 24px;
  height: 24px;
}
