@import url("_variables.css");
@import url("alert.css");
@import url("buttons.css");
@import url("card.css");
@import url("collapse.css");
@import url("dropdown.css");
@import url("file.css");
@import url("fonts.css");
@import url("forms.css");
@import url("header.css");
@import url("layouts.css");
@import url("lightbox.css");
@import url("menu.css");
@import url("modal.css");
@import url("reset.css");
@import url("table.css");
@import url("tabs.css");
@import url("tags.css");
@import url("themes.css");
@import url("switch.css");
@import url("snippets.css");
@import url("typography.css");
@import url("pagination.css");
/* @import url("dracula.css"); */

*:disabled,
*[aria-disabled="true"] {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

html {
  /*
  This sets the base font size to 10px, which makes it easier to work with rems.
  The important thing to understand is that the html tag font-size need not be the same as the font-size on the body tag. 
  */
  /* font-size: 62.5%; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--base-content);
  background-color: var(--base);
  font-size: var(--fs-regular);
  line-height: normal;
  overflow: auto;
  scroll-behavior: smooth;
  font-family: var(--ff-family);
  font-weight: var(--fw-regular);
}

.app {
  padding-top: calc(var(--header-height) + 1rem);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
