html {
  --ff-family: "Fira Sans", sans-serif;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  /* 
  Default font size is --font-size-regular.
  --font-size-small is 12px on desktop and 10px on mobile.
  --font-size-regular is 14px on desktop and 12px on mobile.
  --font-size-medium is 16px on desktop and 14px on mobile.
  --font-size-large is 18px on desktop and 16px on mobile.
  --font-size-big is 20px on desktop and 18px on mobile
  */

  --font-size-small: clamp(0.64rem, 0.05vw + 0.63rem, 0.67rem);
  --font-size-regular: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-medium: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-large: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-big: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);

  --header-height: clamp(32px, 64px, 64px);

  --space-0: 0;
  --space-1: 0.25rem;
  --space-2: 0.55rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.25rem;
  --space-6: 1.5rem;
  --space-7: 1.75rem;
  --space-8: 2rem;
  --space-9: 2.25rem;

  --background-opacity: 1;
  --text-opacity: 1;
  --border-opacity: 1;
  --outline-opacity: 1;
  --border-width: 0.1rem;
  /* --border-width: 2px; */
  /* 
    The following calc fixes the border radius overlapping on some overflowed elements.
  */
  --border-radius-default: calc(var(--space-2, 1rem) - var(--border-width, 1px));
  --border-radius-small: calc(var(--border-radius-default) / 2);
  --border-radius-large: calc(var(--border-radius-default) * 2);

  --outline-width: var(--border-width, 1px);
  --outline-offset: var(--outline-width, 1px);
  --glass-opacity: 0.95;

  /* Gradients */
  /* how to gradient text */
}
