html {
  --ff-family: "Fira Sans", sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  /* 
  Default font size is --fs-regular.
  --fs-small is 12px on desktop and 10px on mobile.
  --fs-regular is 14px on desktop and 12px on mobile.
  --fs-medium is 16px on desktop and 14px on mobile.
  --fs-large is 18px on desktop and 16px on mobile.
  --fs-big is 20px on desktop and 18px on mobile
  */

  --fs-small: clamp(0.64rem, 0.05vw + 0.63rem, 0.67rem);
  --fs-regular: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --fs-medium: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --fs-large: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --fs-big: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);

  --header-height: clamp(32px, 64px, 64px);

  --space-0: 0;
  --space-1: 0.25rem;
  --space-2: 0.55rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.25rem;

  --background-opacity: 1;
  --text-opacity: 1;
  --border-opacity: 1;
  --outline-opacity: 1;
  --border-width: 1px;
  /* 
    The following calc fixes the border radius overlapping on some overflowed elements.
  */
  --border-radius: calc(var(--space-2, 0.5rem) - var(--border-width));
  --border-radius-small: calc(var(--border-radius) / 2, 0.25rem);
  --border-radius-large: calc(var(--border-radius) * 2 1rem);

  --outline-width: var(--border-width, 1px);
  --outline-offset: var(--outline-width, 1px);
  --glass-opacity: 0.5;
}
