.alert-wrapper {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  padding: var(--space-4, 0.25rem);
  display: grid;
  grid-template-areas:
    "top-left top-center top-right"
    "bottom-left bottom-center bottom-right";
  grid-template: minmax(0, 1fr) minmax(0, 1fr) / minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-gap: var(--space-1, 0.25rem);
  grid-row-gap: var(--space-1, 0.25rem);
  grid-column-gap: var(--space-1, 0.25rem);
  pointer-events: none;
}

.alert-wrapper > * {
  gap: var(--space-1, 0.25rem);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: visible;
}

.position-top-left {
  grid-auto-flow: row;
  grid-area: top-left;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  align-items: flex-start;
}

.position-top-center {
  grid-auto-flow: row;
  grid-area: top-center;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  align-items: center;
}

.position-top-right {
  grid-auto-flow: row;
  grid-area: top-right;
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  align-items: flex-end;
}

.position-bottom-left {
  display: flex;
  flex-direction: column-reverse;
  grid-auto-flow: row;
  grid-area: bottom-left;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.position-bottom-center {
  display: flex;
  flex-direction: column-reverse;
  grid-auto-flow: row;
  grid-area: bottom-center;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.position-bottom-right {
  display: flex;
  flex-direction: column-reverse;
  grid-auto-flow: row;
  grid-area: bottom-right;
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

.alert-mobile {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  padding: var(--space-2, 0.5rem);
  z-index: 2;
}

.alert {
  margin: 0;
  padding: var(--space-2, 0.5rem);
  position: relative;
  max-width: 100%;
  border-radius: var(--border-radius, 0.5rem);
}

.alert-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  gap: var(--space-4, 1rem);
}

.alert-icon {
  flex-shrink: 0;
}

.alert-description {
  display: flex;
  flex-direction: column;
}

.alert-message {
  text-align: auto;
  white-space: pre-wrap;
  max-width: 50ch;
  font-weight: var(--fw-regular, --fw-medium);
  font-size: var(--fs-regular, 15px);
}

.alert-title {
  font-size: var(--fs-medium);
  font-weight: var(--fw-semibold, --fw-bold);
}

.alert-error {
  background-color: hsl(var(--error) / var(--background-opacity));
  color: hsl(var(--error-content));
  border-color: hsl(var(--error) / var(--border-opacity, 0.5));
}

.alert-success {
  background-color: hsl(var(--success) / var(--background-opacity));
  color: hsl(var(--success-content));
  border-color: hsl(var(--success) / var(--border-opacity, 0.5));
}

.alert-warning {
  background-color: hsl(var(--warning) / var(--background-opacity));
  color: hsl(var(--warning-content));
  border-color: hsl(var(--warning) / var(--border-opacity, 0.5));
}

.alert-info {
  background-color: hsl(var(--info, --base-100) / var(--background-opacity));
  color: hsl(var(--info-content));
  border-color: hsl(var(--info) / var(--border-opacity, 0.5));
}

.alert-base {
  background-color: hsl(var(--base-300, --base-300) / var(--background-opacity, 1));
  color: hsl(var(--base-content));
  border-color: hsl(var(--base-300, --base-300) / var(--border-opacity, 1));
}
