.badge {
  display: inline-block;
  padding: var(--space-1) var(--space-2);
  font-size: var(--font-size-small);
  background-color: var(--base-mid);
  border: 1px solid hsl(var(--color-base-content), 0.12);
  color: var(--base-content);
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: var(--border-radius-small);
}

.badge-primary {
  background-color: var(--primary);
  color: var(--primary-content);
}

.badge-secondary {
  background-color: var(--secondary);
  color: var(--secondary-content);
}

.badge-accent {
  background-color: var(--accent);
  color: var(--accent-content);
}

.badge-success {
  background-color: var(--success);
  color: var(--success-content);
}

.badge-warning {
  background-color: var(--warning);
  color: var(--warning-content);
}

.badge-info {
  background-color: var(--info);
  color: var(--info-content);
}

.badge-error {
  background-color: var(--error);
  color: var(--error-content);
}
