button {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-weight: var(--fw-regular);
  transition: background 0.1s ease 0s, color 0.1s ease 0s, box-shadow 0.1s ease 0s;
  pointer-events: auto;
}

.button {
  --button-width: 18rem;
  --button-height: 2.2rem;
  --padding-x: var(--space-2, 0.25rem);
  --padding-y: var(--space-2, 0.25rem);
  position: relative;
  font-size: var(--fs-regular);
  font-weight: var(--fw-medium);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  outline: none;
  white-space: nowrap;
  text-align: center;
  padding: var(--padding-y) var(--padding-x);
  min-height: var(--button-height);
  max-height: var(--button-height);
  width: fit-content;
  border-radius: var(--border-radius-small);
  cursor: pointer;
  border: 2px solid transparent;
  user-select: none;
}

.button.loading {
  pointer-events: none;
  cursor: wait;
}

.loading {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  gap: 0.5rem;
}

.loading::before {
  content: "";
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
  border-width: 2px;
  border-style: solid;
  animation: spin 2s linear infinite;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: currentColor;
  border-right-color: currentColor;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button:active {
  animation: button-pop 0.9s;
}

@keyframes button-pop {
  0% {
    transform: scale(0.95);
  }
  40% {
    transform: scale(1.02);
  }
  to {
    transform: scale(1);
  }
}

.button-base {
  --background-opacity: 1;
  background: hsla(var(--color-base), var(--background-opacity));
  color: var(--base-content);
  outline: var(--outline-width) solid var(--base);
}

.button-base:hover {
  --background-opacity: 0.2;
  background: hsla(var(--color-base), var(--background-opacity));
}

.button[disabled="true"],
.button[aria-disabled="true"],
.button:disabled,
*[aria-disabled="true"],
*[disabled="true"] {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
  /* background-color: hsl(var(--color-dark), 0.5); */
}

.button-ghost:hover,
.button-ghost:focus,
.button-ghost:active {
  --background-opacity: 0.2;
  background: hsla(var(--color-base-contet), var(--background-opacity));
}

.button-accent {
  background: var(--accent);
  color: var(--accent-content);
}

.button-neutral {
  background: var(--neutral);
  color: var(--neutral-content);
}

.button-primary {
  background: var(--primary);
  color: var(--primary-content);
}

.button-secondary {
  background: var(--secondary);
  color: var(--secondary-content);
}

.button-success {
  background: var(--success);
  color: var(--success-content);
}

.button-warning {
  background: var(--warning);
  color: var(--warning-content);
}

.button-error {
  background: var(--error);
  color: var(--error-content);
}

.button-info {
  background: var(--info);
  color: var(--info-content);
}

.button-neutral:hover {
  background: hsla(var(--color-neutral), 0.9);
}

.button-accent:hover {
  background: hsla(var(--color-accent), 0.9);
}

.button-primary:hover {
  background: hsla(var(--color-primary), 0.9);
}
.button-secondary:hover {
  background: hsla(var(--color-secondary), 0.9);
}

.button-success:hover {
  background: hsla(var(--color-success), 0.9);
}

.button-warning:hover {
  background: hsla(var(--color-warning), 0.9);
}

.button-error:hover {
  background: hsla(var(--color-error), 0.9);
}

.button-info:hover {
  background: hsla(var(--color-info), 0.9);
}

.block {
  width: 100%;
}
