button {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-weight: var(--fw-regular);
  transition: background 0.1s ease 0s, color 0.1s ease 0s, box-shadow 0.1s ease 0s;
  pointer-events: auto;
}

.button {
  --button-width: 18rem;
  --button-height: 2.2rem;
  --padding-x: var(--space-2, 0.25rem);
  --padding-y: var(--space-2, 0.25rem);
  position: relative;
  font-size: var(--fs-regular);
  font-weight: var(--fw-medium);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  outline: none;
  white-space: nowrap;
  text-align: center;
  padding: var(--padding-y) var(--padding-x);
  height: var(--button-height, 2.5rem);
  width: fit-content;
  max-width: calc(var(--button-width) + 2 * var(--padding-x));
  border-radius: var(--border-radius-small);
  cursor: pointer;
  border: 2px solid transparent;
  user-select: none;
}

.button:active {
  animation: button-pop 0.1s ease 0s;
}

/* if button doesn't contain any class, it will be a ghost button */
.button:not(.button-accent):not(.button-primary):not(.button-secondary):not(.button-success):not(.button-warning):not(
    .button-error
  ):not(.button-info):hover {
  --background-opacity: 0.045;
  /* background: var(--base); */
  background: rgba(0, 0, 0, 0.1);
}

@keyframes button-pop {
  0% {
    transform: scale(0.95);
  }
  40% {
    transform: scale(1.02);
  }
  to {
    transform: scale(1);
  }
}

.button[disabled="true"],
.button[aria-disabled="true"],
.button:disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}

.button-ghost:hover {
  --background-opacity: 0.09;
  background: rgba(0, 0, 0, 0.1);
}

.button-ghost:active {
  background: rgba(0, 0, 0, 0.1);
}

.button-accent {
  background: var(--accent);
  color: var(--accent-content);
}

.button-neutral {
  background: var(--neutral);
  color: var(--neutral-content);
}

.button-primary {
  background: var(--primary);
  color: var(--primary-content);
}

.button-secondary {
  background: var(--secondary);
  color: var(--secondary-content);
}

.button-success {
  background: var(--success);
  color: var(--success-content);
}

.button-warning {
  background: var(--warning);
  color: var(--warning-content);
}

.button-error {
  background: var(--error);
  color: var(--error-content);
}

.button-info {
  background: var(--info);
  color: var(--info-content);
}

.button-accent:hover {
  background: var(--accent-focus);
}

.button-primary:hover {
  background: var(--primary-focus);
}
.button-secondary:hover {
  background: var(--secondary-focus);
}

.button-success:hover {
  background: var(--success-focus);
}

.button-warning:hover {
  background: var(--warning-focus);
}

.button-error:hover {
  background: var(--error-focus);
}

.button-info:hover {
  background: var(--info-focus);
}

.button-block {
  width: 100%;
}
