button {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-weight: var(--font-weight-regular);
  transition: background 0.1s ease 0s, color 0.1s ease 0s, box-shadow 0.1s ease 0s;
  pointer-events: auto;
}

.button {
  --button-width: 18rem;
  --button-height: 2.2rem;
  --padding-x: var(--space-2, 0.25rem);
  --padding-y: var(--space-2, 0.25rem);
  position: relative;
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-medium);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  outline: none;
  white-space: nowrap;
  text-align: center;
  padding: var(--padding-y) var(--padding-x);
  min-height: var(--button-height);
  max-height: var(--button-height);
  width: fit-content;
  border-radius: var(--border-radius-small);
  cursor: pointer;
  gap: 0.25rem;
  border: 2px solid transparent;
  user-select: none;
}

.button.loading {
  pointer-events: none;
  cursor: wait;
}

.loading {
  position: relative;
  /* overflow: hidden; */
  display: inline-flex;
  gap: 0.5rem;
}

.loading::before {
  content: "";
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
  border-width: 2px;
  border-style: solid;
  animation: spin 2s linear infinite;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: currentColor;
  border-right-color: currentColor;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button:active {
  animation: button-pop 2s;
}

@keyframes button-pop {
  0% {
    transform: scale(0.95);
  }
  40% {
    transform: scale(1.02);
  }
  to {
    transform: scale(1);
  }
}

.button-base {
  --background-opacity: 0;
  /* background: hsla(var(--color-surface-light), var(--background-opacity)); */
  background: var(--color-surface-medium);
  color: var(--color-surface-content);
  outline: var(--outline-width) solid var(--color-surface-content);
}

.button-base:hover {
  /* --background-opacity: 0.2; */
  /* background: hsla(var(--color-base), var(--background-opacity)); */
  background: var(--color-surface-dark);
}

.button[disabled="true"],
.button[aria-disabled="true"],
.button:disabled {
  pointer-events: none;
  cursor: not-allowed;
  /* opacity: 0.5; */
  background-color: var(--color-disabled);
  color: var(--color-disabled-content);
}

.button-ghost:hover,
.button-ghost:focus,
.button-ghost:active {
  background: var(--color-surface-medium);
}

.button-accent {
  background: var(--color-accent-medium);
  color: var(--color-accent-content);
}

.button-neutral {
  background: var(--color-neutral-medium);
  color: var(--color-neutral-content);
}

.button-primary {
  background: var(--color-primary-medium);
  color: var(--color-primary-content);
}

.button-secondary {
  background: var(--color-secondary-medium);
  color: var(--color-secondary-content);
}

.button-success {
  background: var(--color-success-medium);
  color: var(--color-success-content);
}

.button-warning {
  background: var(--color-warning-medium);
  color: var(--color-warning-content);
}

.button-error {
  background: var(--color-error-medium);
  color: var(--color-error-content);
}

.button-info {
  background: var(--color-info-medium);
  color: var(--color-info-content);
}

.button-neutral:hover {
  background: var(--color-neutral-dark);
}

.button-accent:hover {
  background: var(--color-accent-dark);
}

.button-primary:hover {
  background: var(--color-primary-dark);
}
.button-secondary:hover {
  background: var(--color-secondary-dark);
}

.button-success:hover {
  background: var(--color-success-dark);
}

.button-warning:hover {
  background: var(--color-warning-dark);
}

.button-error:hover {
  background: var(--color-error-dark);
}

.button-info:hover {
  background: var(--color-info-dark);
}

.block {
  width: 100%;
}
