.dropdown {
  user-select: none;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  max-height: 30vh;
  min-width: 10vw;
  overflow: auto;
  position: absolute;
  background: hsl(var(--base-200));
  color: hsl(var(--base-content));
  border-radius: var(--border-radius);
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
  box-shadow: 1.95px 2.95px 1.95px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content:not(.menu) {
  padding: var(--space-2, 0.5rem);
}

.dropdown-end .dropdown-content {
  right: 0;
}
.dropdown-left .dropdown-content {
  top: 0;
  right: 100%;
  bottom: auto;
  transform-origin: right;
}
.dropdown-right .dropdown-content {
  left: 100%;
  top: 0;
  bottom: auto;
  transform-origin: left;
}
.dropdown-bottom .dropdown-content {
  bottom: auto;
  top: 100%;
  transform-origin: top;
}
.dropdown-top .dropdown-content {
  bottom: 100%;
  top: auto;
  transform-origin: bottom;
}
