.file-selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-1);
  margin-block: var(--space-1);
  border-radius: var(--border-radius-small);
}

.file-list {
  background: var(--base-deep);
  border-radius: var(--border-radius-small);
}

.file-actions {
  display: flex;
  flex-direction: row;
  gap: var(--space-2);
  justify-content: flex-end;
  border-radius: 0.25rem;
  border: 1px solid red;
}

.file {
  display: flex;
  align-items: center;
  padding: var(--space-2);
  --background-opacity: 0.6;
  justify-content: space-between;
}

.file-link {
  cursor: pointer;
  text-decoration: underline;
  color: var(--primary);
}

.file-trash {
  width: 18px;
  height: 18px;
  color: var(--base-content);
  cursor: pointer;
  flex-shrink: 0;
}

.file-trash:hover {
  color: var(--error);
}

.file-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* .file:nth-child(odd) {
  --background-opacity: 0.4;
  background: hsla(var(--color-base), var(--background-opacity));
} */

.file-size {
  font-weight: var(--fw-light);
  color: var(--base-content);
}

.file-close-icon {
  height: 20px;
  width: 20px;
  flex-shrink: 0;
  color: var(--base-content);
  cursor: pointer;
}

/* when hovering file-close-icon. set a .file background color */
.file-close-icon:hover + .file {
  background: red;
}
