.file-list {
  background: var(--base-deep);
  border-radius: var(--border-radius-small);
}
.file {
  display: flex;
  align-items: center;
  padding: var(--space-2);
  --background-opacity: 0.6;
  justify-content: space-between;
}

.file:nth-child(odd) {
  --background-opacity: 0.4;
  background: hsla(var(--color-base), var(--background-opacity));
}

.file-size {
  font-weight: var(--fw-light);
  color: var(--base-content);
}

.file-close-icon {
  height: 20px;
  width: 20px;
  color: var(--base-content);
  cursor: pointer;
}

/* when hovering file-close-icon. set a .file background color */
.file-close-icon:hover + .file {
  background: red;
}
