.file-selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-1);
  margin-block: var(--space-1);
  border-radius: var(--border-radius-small);
}

.file-selector-title {
  font-weight: var(--fw-semibold, 500);
  font-size: var(--fs-medium);
  padding-bottom: var(--space-1);
  border-bottom: 1px solid hsl(var(--color-base-content), 0.15);
}

.file-list {
  /* background: hsl(var(--color-dark), 0.075);
  border-radius: var(--border-radius-small); */
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

.input-file-container {
  display: flex;
  align-items: center;
  position: relative;
  width: fit-content;
  gap: var(--space-2);
}

.file-size-limit-success {
  color: var(--success);
}

.file-size-limit-error {
  color: var(--error);
}

.file {
  display: flex;
  align-items: center;
  padding: var(--space-1);
  border: 1px solid hsl(var(--color-base-content), 0.15);
  border-radius: var(--border-radius-small);
  justify-content: space-between;
}

.file-name {
  color: var(--primary, --accent);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.file-size {
  color: hsl(var(--color-base-content), 0.5);
}

.file-close-icon {
  height: 20px;
  width: 20px;
  flex-shrink: 0;
  color: var(--base-content);
  cursor: pointer;
}

/* when hovering file-close-icon. set a .file background color */
.file-close-icon:hover + .file {
  background: red;
}
