.header {
  position: fixed;
  --top-offset: 0;
  top: var(--top-offset);
  left: 0;
  height: var(--header-height);
  width: 100%;
  background-color: var(--base-mid);
  color: hsl(var(--base-content));
  fill: hsl(var(--base-content));
  border-bottom: 1px solid var(--base-mid);
  z-index: 1;
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  padding: 1rem;
  border-bottom: 1px solid hsl(var(--color-base-content), 0.07);
}

.glass {
  -webkit-backdrop-filter: blur(1.25rem);
  backdrop-filter: blur(1.25rem);
  background-color: transparent;
  background-image: linear-gradient(
    135deg,
    hsla(var(--color-base), var(--glass-opacity)) 0%,
    hsla(var(--color-base-mid), var(--glass-opacity)) 20%,
    hsla(var(--color-base-deep), var(--glass-opacity)) 100%
  );
  border-bottom: 1px solid var(--base-mid);
}

.navbar {
  display: flex;
  align-items: center;
  /* gap: 1.5rem; */
  user-select: none;
  flex-wrap: wrap;
}

.navbar nav {
  white-space: nowrap;
  flex: 1 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-2);
}

.navbar .container {
  display: flex;
  align-items: center;
}

.navbar-branding {
  font-size: var(--fs-big);
  font-weight: var(--fw-semibold);
  text-transform: uppercase;
  position: relative;
  color: var(--base-content);
}

.nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 0 !important;
  margin-right: 0;
  justify-content: center;
}
