html {
  --container-max-width: 90rem;
  --padding-x: 1rem;
  --padding-y: 1rem;
}

.container {
  max-width: calc(var(--container-max-width) + 2 * var(--padding-x));
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--padding-x);
}

.container-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.view {
  display: flex;
  flex-direction: column;
  background: var(--base-mid);
  border: 1px solid hsl(var(--color-base-content), 0.15);
  gap: var(--space-1);
  padding-block: var(--space-1);
  padding-inline: var(--space-1);
  border-radius: var(--border-radius-small);
}
