.main-app {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
  /* background-color: hsl(220, 100%, 85%); */
  background-color: var(--color-suface-light);
}

.sub-sidenav {
  width: 96px;
  /* background-color: hsl(60, 100%, 85%); */
  background-color: var(--color-surface-medium);
}

.main-content {
  flex: 1 1 auto;
  overflow: auto;
  /* background-color: hsl(120, 100%, 85%); */
}
