.menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.menu.horizontal {
  display: inline-flex;
  flex-direction: row;
}

.menu,
.menu-horizontal {
  border-radius: var(--border-radius);
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  gap: var(--space-2, 0.5rem);
  padding: var(--space-3, 0.75rem) var(--space-4, 1rem);
  cursor: pointer;
}

.menu li:hover {
  background-color: hsl(var(--base-200));
  color: hsl(var(--base-content));
}

.menu li:active {
  background-color: hsl(var(--accent));
  color: hsl(var(--accent-content));
}

.menu li > a {
  text-decoration: none;
  color: inherit;
}

.menu li.active {
  background-color: hsl(var(--accent) / var(--background-opacity));
  color: hsl(var(--accent-content) / var(--text-opacity));
}
