.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  /* Setting the width and height to 100vw and 100vh will make the backdrop appear full screen on the current viewport. */
  width: 100vw;
  height: 100vh;
  background: hsla(var(--color-dark), 0.4);
  /* how to add opacity to the background only */

  backdrop-filter: blur(1px);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  width: auto;
  height: auto;
  max-width: 95vw;
  max-height: 95vh;
  /* padding: var(--space-1, 0.25rem) var(--space-4, 0.75rem); */
  background-color: var(--base);
  color: var(--base-content);
  border-radius: var(--border-radius-large);
  z-index: 2;
  overflow: auto;
  border: 1px solid hsl(var(--color-base-content), 0.15);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.modal-close-button {
  position: absolute;
  top: var(--space-4);
  right: var(--space-4);
  cursor: pointer;
}

.modal-header {
  z-index: 1;
  top: 0;
  padding-block: var(--space-3);
  border-bottom: 1px solid hsl(var(--color-base-content), 0.15);
  display: flex;
  font-weight: var(--fw-semibold, 500);
  font-size: var(--fs-large);
  background-color: var(--base-mid);
  justify-content: center;
  align-items: center;
}

.modal-content {
  padding: 1rem 2rem;
}

.modal-actions {
  padding: 1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.6rem;
}

.modal-footer {
  position: sticky;
  bottom: 0;
  background-color: var(--base);
  border-top: 1px solid hsl(var(--color-base-content), 0.15);
  padding: var(--space-4);
  /* padding-bottom: var(--space-4); */
  display: flex;
  align-items: center;
  justify-content: center;
}
