.modal {
  position: relative;
  width: auto;
  height: auto;
  max-width: 95vw;
  max-height: 95vh;
  padding: var(--space-1, 0.25rem) var(--space-4, 0.75rem);
  --background-opacity: 1;
  background: hsl(var(--base-200) / var(--background-opacity));
  color: hsl(var(--base-content));
  border-radius: var(--border-radius-xlarge);
  z-index: 2;
  overflow: auto;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.modal-close-button {
  position: absolute;
  top: var(--space-4);
  right: var(--space-4);
  cursor: pointer;
}

.modal-header {
  display: flex;
  font-weight: var(--fw-semibold, 500);
  font-size: var(--fs-large);
  justify-content: center;
  align-items: center;
}

.modal-content {
  padding: 1rem 2rem;
}

.modal-actions {
  padding: 1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.6rem;
}
