.progress {
  display: flex;
  align-items: center;
  background-color: var(--base-deep);
  color: var(--success-content);
  overflow: hidden;
  position: relative;
  width: 100%;
  border-radius: var(--border-radius-default);
}

.progress-bar {
  height: 100%;
  height: 1rem;
  transition: width 0.3s ease-in-out;
}

.progress-label {
  text-align: center;
  position: absolute;
  flex-grow: 1;
  width: 100%;
  color: var(--base-content);
  font-size: var(--fs-regular);
}

.striped {
  background-image: linear-gradient(
    45deg,
    hsl(var(--color-base), 0.15) 25%,
    transparent 25%,
    transparent 50%,
    hsl(var(--color-base), 0.15) 50%,
    hsl(var(--color-base), 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-size: 1rem 1rem;
  animation: stripe-animation 1s linear infinite;
}

@keyframes stripe-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1rem 0;
  }
}
