.tabs-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.tab-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--base);
  border-radius: var(--border-radius-small);
  overflow: hidden;
}

.tab-list-item {
  flex: 1;
  text-align: center;
}

.tab-button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: transparent;

  color: var(--secondary);

  cursor: pointer;
  border-bottom: 2px solid var(--secondary);
}

.tab-list-item-active .tab-button {
  color: var(--primary);
  border-bottom: 2px solid var(--primary);
}

.tab-content {
  display: flex;
}

.tab-content-item {
  flex: 1;
  padding: 1rem;
  display: none;
}

.tab-content-item-active {
  display: block;
}
