:root {
  --base-info: 195;
  --base-success: 155;
  --base-warning: 45;
  --base-error: 0;
}

/* If no theme is set, use light theme */
[data-theme="light"] {
  color-scheme: light;
  --primary: 221 83% 53%;
  --primary-focus: 221 83% 55%;
  --primary-content: 221 0% 96%;
  --secondary: 210 15% 45%;
  --secondary-focus: 210 20% 50%;
  --secondary-content: 0 0% 96%;
  --accent: 175 84% 32%;
  --accent-focus: 175 84% 35%;
  --accent-content: 175 40% 98%;
  --neutral: 221 5% 39%;
  --neutral-focus: 221 5% 41%;
  --neutral-content: 0 0% 96%;
  --base-100: 210 10% 91%;
  --base-200: 212 12% 86%;
  --base-300: 211 14% 80%;
  --base-content: 0 0% 16%;
  --info: var(--base-info) 89% 78%;
  --info-content: var(--base-info) 30% 96%;
  --success: var(--base-success) 94% 65%;
  --success-content: var(--base-success) 15% 18%;
  --warning: var(--base-warning) 92% 76%;
  --warning-content: var(--base-warning) 15% 18%;
  --error: var(--base-error) 100% 67%;
  --error-content: var(--base-error) 231 15% 18%;
}
[data-theme="dark"] {
  color-scheme: dark;
  --primary: 207 90% 54%;
  --primary-focus: 210 79% 46%;
  --primary-content: 0 0% 100%;
  --secondary: 0 0% 62%;
  --secondary-focus: 0 0% 46%;
  --secondary-content: 0 0% 100%;
  --accent: 45 100% 51%;
  --accent-focus: 38 100% 50%;
  --accent-content: 0 0% 13%;
  --neutral: 0 0% 46%;
  --neutral-focus: 0 0% 38%;
  --neutral-content: 0 0% 100%;
  --base-100: 0 0% 26%;
  --base-200: 0 0% 19%;
  --base-300: 0 0% 13%;
  --base-content: 0 0% 100%;
  --info: var(--base-info) 98% 48%;
  --info-content: var(--base-info) 0% 100%;
  --success: var(--base-success) 39% 49%;
  --success-content: var(--base-success) 0% 100%;
  --warning: var(--base-warning) 100% 50%;
  --warning-content: var(--base-warning) 0% 13%;
  --error: var(--base-error) 90% 58%;
  --error-content: var(--base-error) 0% 100%;
}
[data-theme="dracula"] {
  /* This theme is based on the Dracula theme by Zeno Rocha */
  color-scheme: dark;
  --background: hsl(231 15% 18%);
  --current-line: hsl(232 14% 31%);
  --foreground: hsl(60 30% 96%);
  --comment: hsl(225 27% 51%);
  --cyan: hsl(191 97% 77%);
  --green: hsl(135 94% 65%);
  --orange: hsl(31 100% 71%);
  --pink: hsl(326 100% 74%);
  --purple: hsl(265 89% 78%);
  --red: hsl(0 100% 67%);
  --yellow: hsl(65 92% 76%);
  --primary: var(--purple);
  /* --primary-focus: 267 100% 81%; */
  --primary-content: var(--foreground);
  --secondary: var(--comment);
  --secondary-focus: var(--comment);
  --secondary-content: var(--foreground);
  --accent: var(--cyan);
  --accent-focus: hsl(var(--cyan) / 0.5);
  --accent-content: var(--foreground);
  --neutral: var(--current-line);
  --neutral-focus: var(--current-line);
  --neutral-content: var(--foreground);
  --base-100: var(--background);
  --base-200: var(--background) / 0.9;
  --base-300: 231 19% 22%;
  --base-content: 60 30% 96%;
  --info: var(--cyan);
  --info-content: var(--base-info) 30% 96%;
  --success: var(--base-success) 94% 65%;
  --success-content: var(--base-success) 15% 18%;
  --warning: var(--base-warning) 92% 76%;
  --warning-content: var(--base-warning) 15% 18%;
  --error: var(--base-error) 100% 67%;
  --error-content: var(--base-error) 15% 18%;
}
[data-theme="coffee"] {
  color-scheme: dark;
  --primary: 20 100% 72%;
  --primary-focus: 215 25% 52%;
  --primary-content: 96 96% 98%;
  --secondary: 20 12% 50%;
  --secondary-focus: 20 18% 40%;
  --secondary-content: 20 16% 18%;
  --accent: 46 82% 65%;
  --accent-focus: 43 73% 57%;
  --accent-content: 13% 20% 22%;
  --neutral: 204 11% 68%;
  --neutral-focus: 204 12% 61%;
  --neutral-content: 96 96% 98%;
  --base-100: 13 20% 22%;
  --base-200: 12 18% 18%;
  --base-300: 15 16% 15%;
  --base-content: 96 96% 98%;
  --info: var(--base-info) 64% 73%;
  --info-content: var(--base-info) 20% 22%;
  --success: var(--base-success) 100% 44%;
  --success-content: var(--base-success) 20% 22%;
  --warning: var(--base-warning) 87% 69%;
  --warning-content: var(--base-warning) 20% 22%;
  --error: var(--base-error) 75% 44%;
  --error-content: var(--base-error) 96% 98%;
}

[data-theme="midnight"] {
  --primary: 204 98% 36%;
  --primary-focus: 190 100% 60%;
  --primary-content: 190 56% 8%;
  --secondary: 237 23% 47%;
  --secondary-focus: 237 23% 57%;
  --secondary-content: 96 96% 98%;
  --accent: 215 97% 12%;
  --accent-focus: 43 73% 57%;
  --accent-content: 13 20% 22%;
  --neutral: 204 11% 68%;
  --neutral-focus: 204 12% 61%;
  --neutral-content: 96 96% 98%;
  --base-100: 215 59% 22%;
  --base-200: 216 53% 19%;
  --base-300: 221 22% 13%;
  --base-content: 222 86% 92%;
  --info: var(--base-info) 64% 73%;
  --info-content: var(--base-info) 20% 22%;
  --success: var(--base-success) 100% 44%;
  --success-content: var(--base-success) 20% 22%;
  --warning: var(--base-warning) 87% 69%;
  --warning-content: var(--base-warning) 20% 22%;
  --error: var(--base-error) 75% 44%;
  --error-content: var(--base-error) 96% 98%;
}
