a.link,
*.link {
  color: var(--primary);
  text-decoration: underline;
}

.title {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-semibold, 500);
  margin-block: var(--space-1);
}

.muted {
  font-size: var(--font-size-regular);
  color: hsl(var(--color-base-content), 0.5);
}

.text-primary {
  color: var(--primary);
}
