.badge {
  display: inline-block;
  padding: var(--space-1) var(--space-2);
  font-size: var(--font-size-regular);
  background-color: var(--clr-surface-medium);
  border: 1px solid hsl(var(--clr-surface-content), 0.12);
  color: var(--clr-surface-content);
  font-weight: var(--font-weight-medium);
  line-height: 1;
  width: fit-content;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: var(--border-radius-default);
}

.badge-primary {
  background-color: var(--clr-primary-medium);
  color: var(--clr-primary-content);
}

.badge-secondary {
  background-color: var(--clr-secondary-medium);
  color: var(--clr-secondary-content);
}

.badge-accent {
  background-color: var(--clr-accent-medium);
  color: var(--clr-accent-content);
}

.badge-success {
  background-color: var(--clr-success-medium);
  color: var(--clr-success-content);
}

.badge-warning {
  background-color: var(--clr-warning-medium);
  color: var(--clr-warning-content);
}

.badge-info {
  background-color: var(--clr-info-medium);
  color: var(--clr-info-content);
}

.badge-error {
  background-color: var(--clr-error-medium);
  color: var(--clr-error-content);
}
