.table-wrapper {
  overflow-y: auto;
  height: 100%;
}

.table {
  table-layout: fixed;
  text-align: justify;
  white-space: nowrap;
  max-width: 100vw;
  border-collapse: separate;
  border-spacing: var(--border-width);
  margin-block: var(--space-4);
  border: var(--border-width) solid hsl(var(--clr-base-content), 0.15);
  border-radius: var(--border-radius-small);
}

.table-header {
  overflow: hidden;
  background-color: var(--clr-surface-medium);
  color: hsl(var(--clr-surface-content));
  text-transform: uppercase;
}

.table-row:not(:last-child) {
  vertical-align: middle;
  border-bottom: 1px solid var(--base-deep);
}

.table-row:hover {
  background: var(--base-mid);
}

.table-cell {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table :where(th, td) {
  white-space: nowrap;
  padding: var(--space-2);
  vertical-align: middle;
}
