.theme-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: var(--space-2);
  padding: var(--space-2);
  max-height: 20rem; /* 320px */
  overflow: auto;
}

.theme-list-item {
  display: flex;
  align-items: center;
  gap: var(--space-4);
  justify-content: space-between;
  background-color: hsl(var(--base-100));
  color: hsl(var(--base-content));
  padding: var(--space-2);
  border-radius: var(--radius-input);
  cursor: pointer;
}

.theme-list-item:hover {
  --outline-width: 1px;
  background-color: hsl(var(--base-200));
}

.theme-list-item.active {
  --outline-width: 2px;
  outline: var(--outline-width) solid hsl(var(--accent));
}

.theme-list-item:hover .theme-list-item-name {
  color: hsl(var(--accent));
}

.theme-list-palette {
  display: flex;
  gap: var(--space-1);
}

.theme-list-palette-base-200,
.theme-list-palette-base-300,
.theme-list-palette-accent,
.theme-list-palette-primary,
.theme-list-palette-secondary,
.theme-list-palette-neutral {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: var(--border-radius);
}

.theme-list-palette-base-200 {
  background-color: hsl(var(--base-200));
}

.theme-list-palette-base-300 {
  background-color: hsl(var(--base-300));
}

.theme-list-palette-accent {
  background-color: hsl(var(--accent));
}

.theme-list-palette-primary {
  background-color: hsl(var(--primary));
}

.theme-list-palette-secondary {
  background-color: hsl(var(--secondary));
}

.theme-list-palette-neutral {
  background-color: hsl(var(--neutral));
}
