.theme-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: var(--space-3);
  padding: var(--space-3);
  /* background-color: var(--base-deep); */
  height: 100%;
}

.theme-list-item {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: var(--space-3);
  width: 100%;
  height: 100%;
  max-height: 3rem;
  border-radius: var(--border-radius-small);
  padding: var(--space-4);
  justify-content: space-between;
  background-color: var(--color-surface-medium);
  color: var(--color-surface-content);
  cursor: pointer;
}

.theme-list-item.active {
  --outline-width: 2px;
  outline: var(--outline-width) solid var(--color-primary-medium);
  outline-offset: var(--outline-offset);
}

.theme-list-palette {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-wrap: nowrap;
  gap: var(--space-1);
}

.theme-list-palette-accent-bullet,
.theme-list-palette-primary-bullet,
.theme-list-palette-secondary-bullet,
.theme-list-palette-neutral-bullet {
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-regular);
  border-radius: var(--border-radius-large);
}

.theme-list-palette-accent-bullet {
  background-color: var(--color-accent-medium);
}

.theme-list-palette-primary-bullet {
  background-color: var(--color-primary-medium);
}

.theme-list-palette-secondary-bullet {
  background-color: var(--color-secondary-medium);
}

.theme-list-palette-neutral-bullet {
  background-color: var(--color-neutral-medium);
}
